@media(min-width:768px) {
    #page-wrapper {
        margin: 0; /* remove the left sidebar */
    }
}

.navbar-top-links.top-menu {
    margin-left: 0;
}

.page-header {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #e4edf6;
}

.page-header .btn-group, .page-header a.btn-block {
    margin-top: 28px;
    margin-bottom: 0;
}

.btn-group > a.btn {
    padding: 8px;
}

.btn-group > a:not(:last-child) {
    border-right: 0;
}

.btn-group > a:hover {
    background-color: #e4edf6;
    border-color: #ced8e4;
    padding: 8px;
}

#items .form-control {
    border: none;
    border-radius: 0;
    height: 40px;
    /* vertical-align: middle; */
}

#items th {
    height: 41px;
}

#items tbody tr:not(#no_data) td {
    padding: 0;
}