@media(min-width:768px) {
    #page-wrapper {
        margin: 0; /* remove the left sidebar */
    }
}

.navbar-top-links.top-menu {
    margin-left: 0;
}

.btn-group > a.btn {
    padding: 8px;
}

.btn-group > a:not(:last-child) {
    border-right: 0;
}

.btn-default:active, 
.btn-default:focus, 
.btn-default:hover, 
.open>.dropdown-toggle.btn-default, 
.btn-group > a:focus, 
.btn-group > a:hover {
    background-color: #e4edf6;
    border-color: #ced8e4;
    padding: 8px;
}

#items .form-control, #payments .form-control {
    border: none;
    border-radius: 0;
    height: 40px;
    font-size: 16px;
}

#items th {
    height: 41px;
    vertical-align: middle;
    /* font-size: 90%; */
    /* font-weight: 500; */
}

#items tbody tr:not(#no_items) td, #payments tbody tr td {
    padding: 0;
}

.btn-default[disabled] {
    background-color: #e4edf6;
    border-color: #ced8e4;
}
/* Override custom.css:220 */
.tab-content > .tab-pane.active > table {
    border-top: 1px solid #d1d8dd;
}

.inline-table table {
    background-color: transparent;
    border: none;
}